@use '@/app/base';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: base.$primaryColor;
  color: #FFFFFF;
  height: 2.75rem;
  padding: 2px 1.25rem;
  z-index: 10;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: baseline;

  h1 {
    margin: 0;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    margin-block: 0 2px;
  }
}

.cartButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 52px;
  height: 26px;
  border-radius: base.$borderRadius;
  background: #FFFFFF;
  color: #000000;
  
  p {
    font-size: 12px;
    font-weight: 700;
  }
}

@media (min-width: base.$layout-breakpoint-sm) {
  header {
    height: 6rem;
    padding: 0 5rem 0 3rem;
  }

  .cartButton {
    width: 5rem;
    height: 2.5rem;
    
    p {
      font-size: 1rem;
    }

    svg {
      scale: 1.6;
    }
  }
}
